h1   {font-size: 1.2rem;}
h2   {font-size: 1.1rem;}
h3   {font-size: 1.0rem;}

.flex-container {
    display: flex;
    flex-wrap: wrap;
}

.flex-child-pic {
    width: 180px;
    /*border: 2px solid yellow;*/
}

.flex-child-text {
  flex: 1;
}

.ex-outer {
  display: inline-block;
  vertical-align: top;
  margin: 20px 30px 20px 0px;
}

.ex-pic {
  /* text-align: center; */
  width: 120px;
}

.ex-name {
  width: 120px;
  text-align: center;
}
