h1  {font-size: 1.2rem; margin-top: 1rem;}
h2  {font-size: 1.1rem; margin-top: 1rem; margin-bottom: 0.5rem; }
h3  {font-size: 1.0rem; }
p   {margin-top: 0.5rem;  margin-bottom: 0.5rem; }

.colado { margin-top: 0}

.flex-container {
    display: flex;
    flex-wrap: wrap;
}

.flex-child-pic {
    width: 105px; /* Mesmo numero em 3 classes neste file (.flex-child-pic, .ex-pic, .ex-name) e no config.toml/Params/mover_pic_width */
    /* top right bottom left */
    margin: 0px 20px 0px 0px;
    /*border: 2px solid yellow;*/
}

.flex-child-text {
  flex: 1;
}

.ex-outer {
  display: inline-block;
  vertical-align: top;
  /* top right bottom left */
  margin: 20px 12px 20px 0px;
  border-style: solid;
  border-width: 0px; /* talvez as contas estejam para 1 */
  border-color: white;
}

.ex-pic {
  /* text-align: center; */
  width: 105px; /* Mesmo numero em 3 classes neste file (.flex-child-pic, .ex-pic, .ex-name) e no config.toml/Params/mover_pic_width */
}

.ex-name {
  width: 105px; /* Mesmo numero em 3 classes neste file (.flex-child-pic, .ex-pic, .ex-name) e no config.toml/Params/mover_pic_width */
  /* height: 50px; */
  text-align: center;
}
