h1   {font-size: 1.2rem;}
h2   {font-size: 1.1rem;}
h3   {font-size: 1.0rem;}

.flex-container {
    display: flex;
    flex-wrap: wrap;
}

.flex-child-pic {
    width: 180px;
    /*border: 2px solid yellow;*/
}

.flex-child-text {
  flex: 1;
}

.exercise_outer {
  display: inline-block;
  text-align: center;
  width: 150px;
  border: 1px solid red;
}

.exercise_outer .pic {
  text-align: center;
  width: 150px;
}
